br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ramk.jpg', alt='')
        br
        span
            h5 
                |Dr. Ramkumar Kesharwani
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Kanchan.jpg', alt='')
        br
        span
            h5 
                |Dr. Kanchan Kumari
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Rahul.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#Rahul',href='#Rahul') Dr. Rahul Jain
