br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/11.png', alt='')
        br
        span
            h5 
                |Prankrishna Chatterjee
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/prajeesh.jpg', alt='')
        br
        span
            h5 
                |Prajeesh
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/pravanjan.png', alt='')
        br
        span
            h5 
                |Pravanjan Nayak
                br
            | Associated with DHI-TCS Project under 
            a(href= 'http://www.coeamt.com/') Centre of Excellence in Advanced Manufacturing Technology
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/dibya.png', alt='')
        br
        span
            h5 
                |Dibyajyoti Panda
                br
            | Associated with DHI-TCS Project under 
            a(href= 'http://www.coeamt.com/') Centre of Excellence in Advanced Manufacturing Technology
