extends layout

block content
  body
    include navbar 
    br
    br
    br
    .justify-content-center
      .row.justify-content-center
        h1 International Collaborators
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/International/c6ib00009f-p3_hi-res.gif', alt='')
        .col-md-4.my-auto
          h5 Dr. Parthashastri Mandal
          |  The University of Manchester, UK
          br
          a(href='https://www.research.manchester.ac.uk/portal/partha.mandal.html') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/International/barbara-s.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Barbara Shollock
          |  Kings College London, UK 
          br
          a(href='https://www.kcl.ac.uk/people/barbara-shollock') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/International/prakash.png', alt='')
        .col-md-4.my-auto
          h5 Dr. Prakash Srirangam
          |  WMG, University of Warwick, UK
          br
          a(href='https://warwick.ac.uk/fac/sci/wmg/people/profile/?wmgid=1044') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/International/EstherAkinlabi.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Esther Titilayo Akinlabi
          |  University of Johannesburg, SA
          br
          a(href='https://www.uj.ac.za/contact/Pages/Esther-Titilayo-Akinlabi.aspx') Personal Website
      br
      br
      .row.justify-content-center
        h1 National Collaborators
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/prof_skp2.JPG', alt='')
        .col-md-4.my-auto
          h5 Prof. Surjya Kanta Pal
          |  IIT Kharagpur
          br
          a(href='') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/vr.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Vikranth Racherla
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bamdS&depts_name=ME') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/skpanda.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Sushanta K Panda
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bamYQ&depts_name=ME') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/jpaul.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Jinu Paul
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SUmdT&depts_name=ME') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/sbsingh.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Shiv Brat Singh
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bbmcW') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/debashishchakravarty.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Debashish Chakravarty 
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bUmVT&depts_name=MI') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/chakladar.jpg', alt='')
        .col-md-4.my-auto
          h5 Dr. N Das Chakladhar
          |  IIT Kharagpur
          br
          a(href='https://www.linkedin.com/in/ndchakladar/') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/anandaroopbhattacharya.jpg', alt='')
        .col-md-4.my-auto
          h5 Dr. Anandaroop Bhattacharyya 
          |  IIT Kharagpur
          br
          a(href='http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SWmVR&depts_name=ME') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/srikantapal.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Srikanta Pal
          |  BIT Mesra
          br
          a(href='https://www.bitmesra.ac.in/Display_My_Profile_00983KKj893L?id=Qp4gXVXIpUMq42VQjQfFAw%253d%253d') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/sukhomaypal.jpg', alt='')
        .col-md-4.my-auto
          h5 Prof. Sukhomoy Pal
          |  IIT Guwahati
          br
          a(href='http://www.iitg.ac.in/spal/') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/kamalpal.jpg', alt='')
        .col-md-4.my-auto
          h5 Dr. Kamal Pal
          |  VSSUT, Burla 
          br
          a(href='http://www.vssut.ac.in/faculty-profile.php?furl=kamal-pal') Personal Website
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/samik.jpg', alt='')
        .col-md-4.my-auto
          h5 Dr. Samik Dutta 
          |  CMERI, Durgapur
          br
          a(href='https://www.linkedin.com/in/samik-dutta-85523717/') Personal Website
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/Rahul.jpg', alt='')
        .col-md-4.my-auto
          h5 Dr. Rahul Jain
          |  IIT Bhilai
          br
          a(href='https://www.iitbhilai.ac.in/index.php?pid=rahul') Personal Website
        .col-md-2
          img.collab-img(src='', alt='')
        .col-md-4.my-auto
          h5  
          br
          a(href='')
      br
      br
      .row.justify-content-center
        h1 Industrial Collaborators
      .row.collab-div
        .col-md-2
          img.collab-img(src='./img/Collaborations/National/tcs.png', alt='')
        .col-md-4.my-auto
          h5 Tata Consultancy Services
          a(href='http://www.coeamt.com/industry-project-project1.php') Projects
    br
    br
