extends layout

block content
  body
    include navbar 
    br
    br
    br
    .justify-content-center
        .row.justify-content-center
            h1. Lab Facilities
        .jumbotron.container
            .row
                .col-md-5
                    img.facil-img(src='./img/facilities/6-axis.PNG', alt='')
                .col-md-7
                    h5 6-Axis CNC FSW Machine
                    ul
                        li
                            | This machine is a position control and able to produce welding in straight path, 2D planer (circular and non-circular), 3D profile and cylindrical pipe.
                        iframe(width='400', height='170', src='https://www.youtube.com/embed/Q6BoCf5tLJE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .jumbotron.container
            img(src='', alt='')
