extends layout

block content
  body.body-home
    include navbar    
    .content-home
      .row.top
        .col-md-8.label.space-d
          #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100.h-100(src='./img/banner/2.JPG', alt='...')
              .carousel-item
                img.d-block.w-100.h-100(src='./img/banner/3.JPG', alt='...')
              .carousel-item
                img.d-block.w-100.h-100(src='./img/banner/4.JPG', alt='...')  
            a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

        .col-md-3.space-d(style='margin-left: 5%;!important')
          .top-new.justify-content-center.bg-warning
            h3.text-center Whats New
            .event-div 
              span.font-weight-bold Ranjan Kumar Viswakarma 
              | has recently joined Doctoral research program  after his MTech from FSW Lab.
            .event-div  
              span.font-weight-bold Ananta Dutta 
              | has recently joined Doctoral research program  after his MTech from IIT Bhubaneswar.
            .event-div  
              span.font-weight-bold Md Noorul Hoda 
              | has recently joined FSW Lab as Doctoral researcher.
            .event-div
              | Interested Interns on 
              span.font-weight-bold Robotic applications, Industry 4.0, Cloud computing
              |  may apply.
            .event-div
              span.font-weight-bold Robotic FSW facility
              | with six DOF and integrated 6-component load cell has been recently 
              | procured under the ongoing TCS project at DHI CoE.
            br
            .event-button.text-center
              button.btn.btn-light(type='button') Read all News


            
            
            
            
      .row.text-white.space-d2.bg-about
        br
        br
        .row.mx-auto
          h2(style='padding-top: 30px;') About Friction Stir Welding Laboratory
        .row
          #about.col-md-8
            br
            br
            p
            span.font(style="")
              | Friction Stir Welding Laboratory (FSW Lab) at the Indian Institute of Technology Kharagpur 
              | has been developed under the leadership of Prof. Surjya K Pal. It is one of the vibrant laboratories of 
              | IIT Kharagpur, presently constituting a team of fifteen doctoral scholars, and four postgraduate scholars. 
              br
              | Research spans from improvisation of the welding process, mechanical and metallurgical characterizations, 
              | implementation of Industry 4.0 concepts for real time monitoring and control, and numerical modeling and simulation.
              
              | The laboratory houses several state-of-the-art facilities such as CNC and robotic FSW machines, 
              | sophisticated sensors e.g., piezoelectric rotating dynamometer, thermal imager, vibration, and power sensors.
              | The laboratory provides experimental support to many institutions in India and Aborad on a regular basis. 
              br
              | There is a huge inflow of interns from several institutions across the nation in summer and winter seasons.
              | The lab has also got a strong active research collaboration with the industry. 
          .col-md-3.hex-div.text-center.ab-img.my-auto
            img.rounded-circle(src='./img/FSW Lab.jpg', alt='', style='width: 300px;')
      
      .row.space-d2
        .col-md-3.prof-img.container(style='margin-left: 100px;padding-left: 0px;')
          .hexagon2
            .hexTop
            .hexBottom
        .col-md-7.prof-q(style='margin-right: 2%;margin-top:10%')
          blockquote.blockquote.text-light
            p.mb-0
              
              | ".... trying to create an environment in realizing the dreams of scholars on Friction Stir Welding. Enjoying in seeing
              | young minds coming up proposing new avenues on problem-solutions. Amazed to see their day-in day-out hard work in 
              | achieving those. Brain-storming technical sessions, DIY workshop, and philosophical discussions are all part of it. 
              | It is a family of some enthusiastic minds....."
              
            fp.blockquote-footer
              span.font-weight-bold Surjya K Pal 
              br
              span.font-weight-bold Lord Kumar Bhattacharyya Chair Professor in Manufacturing
              cite(title='Source Title') 
              p
