extends layout

block content
  body
    include navbar 
    br
    br
    br
    .justify-content-center
        .row.justify-content-center
            h1. 
                All News
        .jumbotron.container
            .row
                ul.custom-bullet(style='font-family:Georgia, serif')
                    li
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/doctorals') Ranjan Kumar Vishwakarma 
                        | joined Ph.D after completing MTech from FSW Lab
                        br
                    li    
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/doctorals') Ananta Dutta
                        | joined our FSW Lab after his MTech from IIT Bhubaneswar
                        br
                    li
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/doctorals') Md Noorul Hoda 
                        | is with us at FSW Lab for his Ph.D research
                        br
                    li
                        | Interested 
                        a(href= 'http://www.fswlab.in/interns') Interns on
                        span.font-weight-bold Robotic applications, Industry 4.0, Cloud computing
                        |  may apply
                        br
                    li    
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/facilities') Robotic FSW facility
                        | has been procured under DHI-TCS project
                        br
                    li
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/doctorals') Soumya Sangita Nayak 
                        | has delivered Registration Seminar 
                        | on Numerical Modeling of Texture in FSW
                            
 
