extends layout

block content
  body
    include navbar 
    br
    br
    br
    .justify-content-center
        .row.justify-content-center
            h1. 
                All News
        .jumbotron.container
            .row
                ul.custom-bullet(style='font-family:Georgia, serif')
                    li
                        span.font-weight-bold Ranjan Kumar Viswakarma 
                        | has recently joined Doctoral research program  after his MTech from FSW Lab.
                    li    
                        span.font-weight-bold Ananta Dutta 
                        | has recently joined Doctoral research program  after his MTech from IIT Bhubaneswar.
                    li
                        span.font-weight-bold Md Noorul Hoda 
                        | has recently joined FSW Lab as Doctoral researcher.
                    li
                        | Interested Interns on 
                        span.font-weight-bold Robotic applications, Industry 4.0, Cloud computing
                        |  may apply.
                    li    
                        span.font-weight-bold Robotic FSW facility 
                        | with six DOF and integrated 6-component load cell has been recently 
                        | procured under the ongoing TCS project at DHI CoE.
                    li
                        span.font-weight-bold Soumya Sangita Nayak 
                        | has recently delivered her Registration Seminar 
                        | on Numerical Modeling of Texture in FSW. 
                            
 