extends layout

block content
  body
    include navbar 
    br
    br
    .justify-content-center
        .row.justify-content-center
            h1 
              |Areas of Research 
        .jumbotron.container
            .row
                ul.custom-bullet(style='font-family:Georgia, serif')
                    li
                        a(href= 'http://www.fswlab.in/doctorals#debasish') Industry 4.0
                    li    
                        | Joining of dissimilar materials: 
                        a(href='http://www.fswlab.in/doctorals#Raju') Aluminum to Steel    
                        a(href='http://www.fswlab.in/doctorals#surya') Magnesium to Steel
                    li
                        a(href= 'http://www.fswlab.in/doctorals#pooja') Friction stir channeling
                    li
                        a(href= 'http://www.fswlab.in/doctorals#debolina') FSW and Formability study
                    li    
                        a(href= 'http://www.fswlab.in/doctorals#omkar') FSW machine building 
                    li    
                        a(href= 'http://www.fswlab.in/doctorals#vyas') Friction sintering
                    li    
                        a(href= 'http://www.fswlab.in/doctorals#abhishek') Friction stir processing
                    li    
                        a(href= 'http://www.fswlab.in/doctorals#iqbal') Numerical simulation of FSW 
                    li    
                        a(href= 'http://www.fswlab.in/doctorals#soumya') Texture evolution 
                        
    br
    h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Total Publications on FSW : 71
    br
    .container
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item.text-center
          a#home-tab.nav-link.active(data-toggle='tab', href='#patents', role='tab', aria-controls='home', aria-selected='true')
            | Patents &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif, text.centre:align') (5)
        li.nav-item.text-center
          a#profile-tab.nav-link(data-toggle='tab', href='#bookc', role='tab', aria-controls='profile', aria-selected='false')
            | Book Chapters &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (4)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#ijourn', role='tab', aria-controls='contact', aria-selected='false')
            | International Journals &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (31)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#njourn', role='tab', aria-controls='contact', aria-selected='false')
            | National Journals &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (1)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#conf', role='tab', aria-controls='contact', aria-selected='false')
            | Conferences &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (30)
    #myTabContent.tab-content
      #patents.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
        include publications/fsw/patent
      #ijourn.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
        include publications/fsw/ijournal
      #bookc.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/bookc
      #njourn.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/njournal 
      #conf.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/conf      
