extends layout

block content
  body
    include navbar 
    br
    br
    .justify-content-center
        .row.justify-content-center
            h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Areas of Research 
        .jumbotron.container
            .row
                ul.custom-bullet(style='font-family:Georgia, serif')
                    h1 This lab is engaged in doing research on various aspects of FSW, such as:
                    li
                      | Mechanical Aspects
                      li
                         | Friction stir welding and deep drawing of aluminum tailored blanks for light weight automotive applications  
                          a(href= 'http://www.fswlab.in/doctorals#Ram') Dr. Ramkumar Kesharwani
                      li
                         | Design of a Twin Tool  
                          a(href= 'http://www.fswlab.in/doctorals#Kanchan') Dr. Kanchan Kumari
                      li
                         | Design of Micro FSW Machine  
                          a(href= 'http://www.fswlab.in/doctorals#omkar') Omkar Mypati
                      li
                         | Fabrication of friction stir welded aluminium tubes and their formability performance  
                          a(href= 'http://www.fswlab.in/doctorals#debolia') Debolina Sen
                        
                    li
                      | Metallurgical Aspects
                      li
                        |Joining of Aluminum to Steel  
                        a(href='http://www.fswlab.in/doctorals#Raju') Raju Prasad Mahto
                      li
                        | Joining of Magnesium to Steel  
                        a(href='http://www.fswlab.in/doctorals#surya') Suryakanta Sahu
                      li
                        | Friction Stir Spot Welding of Thin Sheets using Different Carbon Nanomaterials as Interlayer  
                        a(href='http://www.fswlab.in/doctorals#pragya') Pragya Rai
                    li
                      | New Developmens on FSW
                      li
                        | Friction sintering  
                        a(href= 'http://www.fswlab.in/doctorals#vyas') Vyas Mani Sharma
                      li
                        | Friction stir channeling  
                        a(href= 'http://www.fswlab.in/doctorals#pooja') Pooja Sarkar
                    li
                      | Modeling and Simulation
                      li
                        | Numerical modeling and validation of friction stir welding with different tool configurations  
                        a(href= 'http://www.fswlab.in/doctorals#Rahul') Dr. Rahul Jain
                      li
                        | Development of an integrated thermo-mechanical and metallurgical model of friction stir welding of pipes  
                        a(href= 'http://www.fswlab.in/doctorals#iqbal') Md Perwej Iqbal
                      li
                        | Numerical modeling of texture evolution in friction stir welding process  
                        a(href= 'http://www.fswlab.in/doctorals#soumya') Soumya Sangita Nayak
                    li
                      | Friction Stir Processing
                      li
                        | Development of friction based solid-state processing strategies for the surface modification of Aluminium alloys  
                         a(href= 'http://www.fswlab.in/doctorals#abhishek') Abhishek Sharma
                    li
                      | Industry 4.0  
                        a(href= 'http://www.fswlab.in/doctorals#debasish') Debasish Mishra 
                        
    br
    h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Total Publications on FSW : 71
    br
    .container
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item.text-center
          a#home-tab.nav-link.active(data-toggle='tab', href='#patents', role='tab', aria-controls='home', aria-selected='true')
            | Patents &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif, text.centre:align') (5)
        li.nav-item.text-center
          a#profile-tab.nav-link(data-toggle='tab', href='#bookc', role='tab', aria-controls='profile', aria-selected='false')
            | Book Chapters &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (4)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#ijourn', role='tab', aria-controls='contact', aria-selected='false')
            | International Journals &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (31)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#njourn', role='tab', aria-controls='contact', aria-selected='false')
            | National Journals &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (1)
        li.nav-item.text-center
          a#contact-tab.nav-link(data-toggle='tab', href='#conf', role='tab', aria-controls='contact', aria-selected='false')
            | Conferences &emsp;
            h5(style='color: #7B1212; font-family:Georgia, serif,text.centre:align') (30)
    #myTabContent.tab-content
      #patents.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
        include publications/fsw/patent
      #ijourn.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
        include publications/fsw/ijournal
      #bookc.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/bookc
      #njourn.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/njournal 
      #conf.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        include publications/fsw/conf      
