.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Inderjeet.jpg', alt='')
        br
        br
        span
            h4 Inderjeet Yadav
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/shilpi.jpg', alt='')
        br
        br
        span
            h4 Shilpi Kumari
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/cparikh.jpg', alt='')
        br
        br
        span
            h4 Chirag Parikh
   .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rranjan.jpeg', alt='')
        br
        br
        span
            h4 Ravi Ranjan
        br
        br
        br
.row.justify-content-center            
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/akhan.jpg', alt='')
        br
        br
        span
            h4 Aaquib R Khan
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rohan.jpg', alt='')
        br
        br
        span
            h4 Rohan Basu Roy
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/alekhya.jpg', alt='')
        br
        br
        span
            h4 Alekhya Ghosh
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ankit.jpg', alt='')
        br
        br
        span
            h4 Ankit Singh
        br
        br
        br
.row.justify-content-center 
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/aman.jpg', alt='')
        br
        br
        span
            h4 Aman Kumar       
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/riya.jpg', alt='')
        br
        br
        span
            h4 Riya
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sananya.jpg', alt='')
        br
        br
        span
            h4 Sananya Majumdar
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/utkarsh.jpg', alt='')
        br
        br
        span
            h4 Utkarsh Sharma
        br
        br
        br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abhinav.jpg', alt='')
        br
        br
        span
            h4 Abhinav Gupta
        br
        br
        br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/bsp.jpg', alt='')
        br
        br
        span
            h4 Balachandra S Patil
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sristi.jpeg', alt='')
        br
        br
        span
            h4 Sristi
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
        br
        br
        br
.row.justify-content-center 
    //- .col-md-2.text-center
    //-     img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
    //-     br
    //-     br
    //-     span
    //-         h4 Student Name
    //-     span    
    //-         span.fs-std
    //-         a(href='')
    //-             i.fs-std.fas.fa-at(style='color: black;')
    //-         span.fs-std
    //-         a(href='')
    //-             i.fs-std.fab.fa-linkedin(style='color: black;')
    //-         span.fs-std
    //-         a(href='')
    //-             i.fs-std.fab.fa-facebook(style='color: black;')
