.row.justify-content-center
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
    br
    br
    br
    .row.justify-content-center
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
        .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        br
        span
            span.fs-std
            a(href='')
                i.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fab.fa-facebook(style='color: black;')
