.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Nagraj Bhatt
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Inderjeet.jp', alt='')
        br
        br
        span
            h4 Inderjeet Yadav
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/gshilpi.jpg', alt='')
        br
        br
        span
            h4 Shilpi Kumari
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/cparikh.jpg', alt='')
        br
        br
        span
            h4 Chirag Parikh
            |Institute-
            br
            |Topic-
br
br
br
.row.justify-content-center            
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rranjan.jpeg', alt='')
        br
        br
        span
            h4 Ravi Ranjan
            |Institute-
            br
            |Topic- Khan
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/akhan.jpg', alt='')
        br
        br
        span
            h4 Aaquib R Khan
            |Institute-
            br
            |Topic- Roy
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rohan.jpg', alt='')
        br
        br
        span
            h4 Rohan Basu Roy
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/alekhya.jpg', alt='')
        br
        br
        span
            h4 Alekhya Ghosh
            |Institute-
            br
            |Topic-
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ankit.jpg', alt='')
        br
        br
        span
            h4 Ankit Singh
            |Institute-
            br
            |Topic-       
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/aman.jpg', alt='')
        br
        br
        span
            h4 Aman Kumar
            |Institute-
            br
            |Topic-
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/riya.jpg', alt='')
        br
        br
        span
            h4 Riya
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sananya.jpg', alt='')
        br
        br
        span
            h4 Sananya Majumdar
            |Institute-
            br
            |Topic-
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Arkadeep Barua
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Arakdeep
            |Institute-
            br
            |Topic- 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sagar Sengar
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sovit Pattnaik
            |Institute-
            br
            |Topic-
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sayan Das
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Asish Mehta
            |Institute-
            br
            |Topic- 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Chaman Gupta
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Mannan
            |Institute-
            br
            |Topic-
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/utkarsh.jpg', alt='')
        br
        br
        span
            h4 Utkarsh Sharma
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Asish Mehta
            |Institute-
            br
            |Topic- 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Chaman Gupta
            |Institute-
            br
            |Topic-
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Mannan
            |Institute-
            br
            |Topic-
