.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Nagraj Bhatt
            |font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Inderjeet.jpg', alt='')
        br
        br
        span
            h4 Inderjeet Yadav
            |font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/shilpi.jpg', alt='')
        br
        br
        span
            h4 Shilpi Kumari
            |font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/cparikh.jpg', alt='')
        br
        br
        span
            h4 Chirag Parikh
            |font-weight-bold BIT Mesra
            br
            |Image Processing
br
br
br
.row.justify-content-center            
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rranjan.jpeg', alt='')
        br
        br
        span
            h4 Ravi Ranjan
            |font-weight-bold BIT Mesra
            br
            Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/akhan.jpg', alt='')
        br
        br
        span
            h4 Aaquib R Khan
            |font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rohan.jpg', alt='')
        br
        br
        span
            h4 Rohan Basu Roy
            |font-weight-bold Calcutta University
            br
            |Cloud Computing & Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/alekhya.jpg', alt='')
        br
        br
        span
            h4 Alekhya Ghosh
            |font-weight-bold Calcutta University
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Soham Bhattacharya
            |font-weight-bold Calcutta University
            br
            |Signal Processing     
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ankit.jpg', alt='')
        br
        br
        span
            h4 Ankit Singh
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/aman.jpg', alt='')
        br
        br
        span
            h4 Aman Kumar
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/riya.jpg', alt='')
        br
        br
        span
            h4 Riya
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sananya.jpg', alt='')
        br
        br
        span
            h4 Sananya Majumdar
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abarua.jpg', alt='')
        br
        br
        span
            h4 Arkadeep Barua
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sagar Sengar
            |font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sovit Pattnaik
            |font-weight-bold IIT Kharagpur
            br
            |Twin Tool
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sayan Das
            |font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Asish Mehta
            |font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Chaman Gupta
            |font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Mannan
            |font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/utkarsh.jpg', alt='')
        br
        br
        span
            h4 Utkarsh Sharma
            |font-weight-bold IIT Kharagpur
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abhinav.jpg', alt='')
        br
        br
        span
            h4 Abhinav Gupta
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Pranav Raj
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Saad Anwer
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Ratankshi Mandal
            |font-weight-bold Calcutta University
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Argyadeep Pal
            |font-weight-bold BIT Mesra
            br
            |Big Data
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sarthak M Das
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Ashok Priyadarshi
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sristi.jpeg', alt='')
        br
        br
        span
            h4 Sristi
            |font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Shreyansh Goenka
            |font-weight-bold Manipal Institute of Technology
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Subhadeep Sahana
            |font-weight-bold IIEST Shibpur
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/bsp.jpg', alt='')
        br
        br
        span
            h4 Bhalchandra Patil
            |font-weight-bold IIT Kharagpur
            br
            |Friction Stir Channeling
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Abhijit Basudev Bagade
            |font-weight-bold IIT Kharagpur
            br
            |Friction Stir Channeling
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
            |font-weight-bold IIT Kharagpur
            br
            |Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        br
        span
            h4 Pratik Mishra
            |font-weight-bold Jalpaiguri Govt. Engg.
            br
            |CNC
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
            |IIT Kharagpur
            br
            |Digital Twin
