h3.text-center UG Interns Past and Present
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Nagraj Bhatt
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Inderjeet.jpg', alt='')
        br
        br
        span
            h4 Inderjeet Yadav
            span.font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/shilpi.jpg', alt='')
        br
        br
        span
            h4 Shilpi Kumari
            span.font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/cparikh.jpg', alt='')
        br
        br
        span
            h4 Chirag Parikh
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
br
br
br
.row.justify-content-center            
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rranjan.jpeg', alt='')
        br
        br
        span
            h4 Ravi Ranjan
            span.font-weight-bold BIT Mesra
            br
            | Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/akhan.jpg', alt='')
        br
        br
        span
            h4 Aaquib R Khan
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rohan.jpg', alt='')
        br
        br
        span
            h4 Rohan Basu Roy
            span.font-weight-bold Calcutta University
            br
            |Cloud Computing & Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/alekhya.jpg', alt='')
        br
        br
        span
            h4 Alekhya Ghosh
            span.font-weight-bold Calcutta University
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Soham Bhattacharya
            span.font-weight-bold Calcutta University
            br
            |Signal Processing     
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ankit.jpg', alt='')
        br
        br
        span
            h4 Ankit Singh
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/aman.jpg', alt='')
        br
        br
        span
            h4 Aman Kumar
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/riya.jpg', alt='')
        br
        br
        span
            h4 Riya
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sananya.jpg', alt='')
        br
        br
        span
            h4 Sananya Majumdar
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abarua.jpg', alt='')
        br
        br
        span
            h4 Arkadeep Barua
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sagar Sengar
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sovit Pattnaik
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sayan Das
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Asish Mehta
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Chaman Gupta
            span.font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Mannan
            span.font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/utkarsh.jpg', alt='')
        br
        br
        span
            h4 Utkarsh Sharma
            span.font-weight-bold IIT Kharagpur
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abhinav.jpg', alt='')
        br
        br
        span
            h4 Abhinav Gupta
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Pranav Raj
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Saad Anwer
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Ratankshi Mandal
            span.font-weight-bold Calcutta University
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Argyadeep Pal
            span.font-weight-bold BIT Mesra
            br
            |Big Data
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Sarthak M Das
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Ashok Priyadarshi
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sristi.jpeg', alt='')
        br
        br
        span
            h4 Sristi
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Shreyansh Goenka
            span.font-weight-bold Manipal Institute of Technology
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        br
        span
            h4 Subhadeep Sahana
            span.font-weight-bold IIEST Shibpur
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/bsp.jpg', alt='')
        br
        br
        span
            h4 Bhalchandra Patil
            span.font-weight-bold IIT Kharagpur
            br
            |Friction Stir Channeling
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
            span.font-weight-bold IIT Kharagpur
            br
            |Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        br
        span
            h4 Pratik Mishra
            span.font-weight-bold Jalpaiguri Govt. Engg.
            br
            |CNC
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        br
        span
            h4 
            |
            br
            |CNC
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
            |IIT Kharagpur
            br
            |Digital Twin
