.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/AbhishekMeena.JPG', alt='')
        br
        br
        span
            h4 Abhishek Meena
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/DHAIRYA_NARENDRA_KEDIA.jpg', alt='')
        br
        br
        span
            h4 Dhairya Narendra Kedia
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ATHARVAPUSALKAR.jpg', alt='')
        br
        br
        span
            h4 Atharva Pulaskar
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ApoorvaGoswami.jpg', alt='')
        br
        br
        span
            h4 Apoorva Goswami
    br
    br
    br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/SPANDANA_SILLA.jpg', alt='')
        br
        br
        span
            h4 Spandana Silla
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/3.jpg', alt='')
        br
        br
        span
            h4 Student Name
        span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
