h3.text-center UG : Past and Present
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/Juhi.jpg', alt='')
        br
        br
        span
            h4 Juhi Gaikwad
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/AbhishekMeena.JPG', alt='')
        br
        br
        span
            h4 Abhishek Meena
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/DHAIRYA_NARENDRA_KEDIA.jpg', alt='')
        br
        br
        span
            h4 Dhairya Narendra Kedia
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ApoorvaGoswami.jpg', alt='')
        br
        br
        span
            h4 Apoorva Goswami
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/Kashishgarg.JPG', alt='')
        br
        br
        span
            h4 Kashish Garg
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/SPANDANA_SILLA.jpg', alt='')
        br
        br
        span
            h4 Spandana Silla
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/11.png', alt='')
        br
        br
        span
            h4 Gopal Krishna
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/RajKolamuri.jpg', alt='')
        br
        br
        span
            h4 Raj Kolamuri
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/UdayChand.jpg', alt='')
        br
        br
        span
            h4 Uday Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/11.png', alt='')
        br
        br
        span
            h4 Umar Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/11.png', alt='')
        br
        br
        span
            h4 Sai Rakesh
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ATHARVAPUSALKAR.jpg', alt='')
        br
        br
        span
            h4 Atharva Pulaskar
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/11.png', alt='')
        br
        br
        span
            h4 Abhijit Basudev
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/11.png', alt='')
        br
        br
        span
            h4 Umar Chand Dampanaboyina
