.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Randhir Oran
            br
            | 2011
        //span
            span.fs-std
            a(href='')
                i.fs-std.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Vyas.jpg', alt='')
        br
        br
        span
            h4 Vyas Mani Sharma
            br
            | 2015
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Studnets/PG/11.png', alt='')
        br
        br
        span
            h4 	Sumit Das
            br
            | 2015
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sanchit Mewar
            | 2016
        //span
            //span.fs-std
            //a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            //span.fs-std
            //a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            //span.fs-std
            //a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    br
    br
    br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Ravi Kumar Patel
            br
            | 2016
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Prashant Chauhan
            br
            | 2016
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Saurabh Suman
            br
            | 2016
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Iqbal.jpg', alt='')
        br
        br
        span
            h4 Md. Perwej Iqbal
            br
            | 2017
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    br
    br
    br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Abhishek Gupta
            br
            | 2017
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/AbhishekSingh.jpg', alt='')
        br
        br
        span
            h4 Abhishek Singh Thakur
            br
            | 2018
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Ashish Tripathi
            br
            | 2018
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Safal Singh
            br
            | 2018
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    br
    br
    br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Ranjan.jpg', alt='')
        br
        br
        span
            h4 Ranjan Kumar Vishwakarma
            br
            | 2019
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/UdayChand.jpg', alt='')
        br
        br
        span
            h4 Uday Chand Dampanaboyina
            br
            | Ongoing
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Umar Chand Dampanaboyina
            br
            | Ongoing
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sai Rakesh Gongura
            br
            | Ongoing
        //span    
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
    br
    br
    br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Piyush.jpg', alt='')
        br
        br
        span
            h4 Piyush Khuslani
            br
            | Ongoing
        //span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
