h3.text-center 2011
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Randhir Oran
br
br
br
h3.text-center 2012
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Mahesh Patil Umakant
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 	R Thube
br
br
br
h3.text-center 2013
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Deepak Chauhan
br
br
br
h3.text-center 2014
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Akash Suvankar Bhowmick
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sunit Swain
br
br
br
h3.text-center 2015
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Moahanesh Patole
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Vyas.jpg', alt='')
        br
        br
        span
            h4 Vyas Mani Sharma
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sumit Das       
br
br
br
h3.text-center 2016
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sanchit Mewar
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Ravi Kumar Patel
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Prashant Chauhan
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Saurabh Suman
br
br
br
h3.text-center 2017
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Abhishek Gupta
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Iqbal.jpg', alt='')
        br
        br
        span
            h4 Md Perwej Iqbal
br
br
br
h3.text-center 2018
br
br         
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Ashish Tripathi
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/AbhishekSingh.jpg', alt='')
        br
        br
        span
            h4 Abhishek Singh Thakur
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Safal Singh
br
br
br
h3.text-center 2019
br
br 
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Ranjan.jpg', alt='')
        br
        br
        span
            h4 Ranjan Kumar Vishwakarma
br
br
br
h3.text-center Ongoing
br
br 
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/UdayChand.jpg', alt='')
        br
        br
        span
            h4 Uday Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Umar Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/11.png', alt='')
        br
        br
        span
            h4 Sai Rakesh
