.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Project Details
            th(scope='col') Status
        tbody
            tr
            td 1.
            td
                h5 Title: Through Process Modelling and Simulation of Hot Rolling of Steel using Bond Graph 
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from August 2003
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
            tr
            td 2.
            td
                h5 Title: Drill Wear Monitoring using Soft Computing Techniques
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') ISIRD Project from IIT Kharagpur 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from November 2004
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
            tr
            td 3.
            td
                h5 Title: Machine Tool Vibration Monitoring
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') ISIRD Project from IIT Kharagpur
                a(href= 'https://www.nrf.ac.za/') NRF, South Africa
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'https://www.up.ac.za/mechanical-and-aeronautical-engineering/article/48434/staff') Prof. P. S. Heyns (University of Pretoria)
                br
                | Duration: 3 years from November 2006
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
            tr
            td 4.
            td
                h5 Title: Multi-sensor Based Tool Condition Monitoring in Drilling
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(https://csirhrdg.res.in/') Council of Scientific & Industrial Research (CSIR), GoI
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from April 2007
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
            tr
            td 5.
            td
                h5 Title: Steel Technology Centre
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI
                a(href= 'https://steel.gov.in/') Department of Science and Technology (DST), GoI
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                | Duration: 3 years from August 2003
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
                
