br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ramk.jpg', alt='')
        br
        span
            h4 
                a(data-toggle='modal', data-target='#Ram',href='#Ram') Dr. Ramkumar Kesharwani
     // Modal
    #Ram.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Ramkumar Kesharwani
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/ramsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-sushanta.panda') Dr. Sushanta K Panda
                    br
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction stir welding and deep drawing of aluminum tailored blanks for light weight automotive applications
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | The invention of friction stir welding had created good scopes of replacing steels by some aluminum alloys (particularly 5XXX series) in the fabrication of tailor welded blanks. However, there was very limited information available in open literature regarding formability (in particular, drawability) performance of tailor-made aluminum friction stir welded blanks. Therefore, two mostly used aluminum alloys, namely AA5754-H22 and AA5052-H32 with dissimilar gauge (2.0 and 2.5 mm) were initially friction stir welded using optimized parameters, to be ensured to get its maximum weld strength. Subsequently, the fabricated optimized aluminum tailor friction stir welded blanks (TFSWBs) were examined for its formability in terms of limiting drawing ratio (LDR) in a laboratory scale standard deep drawing test. The obtained results were found to be very close to that of the base metals; however, for further improvement in the LDR, a new die (named as modified conical tractrix die, MCTD) was designed, developed and tested by using the fabricated optimized TFSWBs. Significant improvement in the LDR was observed once using MCTD. Moreover, a finite element model of the LDR test was developed and validated using the experimental results with impressively high accuracy. This model was used to analyze the strain evolution pattern during the drawing of the fabricated TFSWBs, which revealed a new and more pronounced reason behind the improvement in the LDR obtained with MCTD.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Automotive industry: Fabrication of body-in-white, fuel tank, door and floor panel etc.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ramkumar31kesharwani@gmail.com
                        li
                            a(href='https://www.researchgate.net/profile/Ram_Kesharwani') ResearchGate
                        li
                            a(href='https://scholar.google.co.in/citations?user=UatCtvAAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://www.linkedin.com/in/raju-prasad-96a51051/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Kanchan.jpg', alt='')
        br
        span
            h4 
                a(data-toggle='modal', data-target='#kanchan',href='#kanchan') Dr. Kanchan Kumari
     // Modal
    #kanchan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Kanchan Kumari
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Kanchansmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Novel Twin Tool Based Friction Stir Welding of Aluminum Alloys
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | Most of the research woks in FSW have been conducted using the traditional single tool system. This leads to non-unifrom temperature distribution across the weld plates. FSW also requires heavy clamping force abd high downward force to maintain the contact between the tool and the workpiece intact. To tackle this, a twin tool has been indignenously develeoped and farbicated. This consists of two tools rotating in opposite directions and moving simulateneously. The tool system requires less clamping force as the two tools counter each other. It disrupts and fragments the residual oxide layer remained in the first weld region by the follower tool, thus, enhancing the weld quality. Good quality welds can be achieved with higher welding speeds. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: kanchan.1087@gmail.com
                        li
                            a(href='https://www.researchgate.net/profile/Kanchan_Kumari5') ResearchGate
                        //li
                            a(href='https://scholar.google.co.in/citations?user=YwlcmQoAAAAJ&hl=en') Google Scholar
                        //li
                            a(href= 'https://in.linkedin.com/in/rahul-jain-432b0417') LinkedIn
                        //li
                            a(href= 'https://www.iitbhilai.ac.in/index.php?pid=rahul') Personal Website  
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Rahul.jpg', alt='')
        br
        span
            h4 
                a(data-toggle='modal', data-target='#Rahul',href='#Rahul') Dr. Rahul Jain
     // Modal
    #Rahul.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Rahul jain
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Rahulsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Numerical modeling and validation of friction stir welding with different tool configurations
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | Study of material flow mechanism, forces and defect formation during FSW process are important as it could help in proper selection of process parameter and pin design. Their experimental study is exhaustive due to lots of post weld analyses. Numerical modeling could be an efficient method to study the material flow and defect formation. This will reduce the cost associated for material and development of infrastructure. In the current research work two different three-dimensional thermo-mechanical models are developed to simulate FSW. 
                    br
                    | (a) A three dimensional thermo-mechanically coupled model was developed based on Lagrangian theory. The developed model is used to model FSW for AA2024 and AA6061 aluminum alloys. For AA2024 material, the model is validated with the forces and spindle torque data obtained from the literature. Two different pin shapes viz. conical and threaded conical are compared in terms of forces, material flow, material velocity, effective strain and strain rate. Threaded conical pin produced higher deformation and vertical flow of the material among the two. For AA6061 material, in-house experiments are performed to validate the model with temperature, force and spindle torque. Three different pin shapes, namely, cylindrical, triflat and square are compared. For flat pin surfaces bulk material flow is prominent, while shearing or layer by layer material flow is more prominent for cylindrical pin. Distribution of the material is uniform across the stirred region for the triflat pin while it is stretched towards the advancing side for the square pin. 
                    br
                    | (b) Prediction of defect using Lagrangian model is difficult as void cannot be introduced in it. Therefore, another model based on coupled Eulerian Lagrangian is developed to predict the defect formation. The defect prediction is based on volume of fluid principle. Effect of tilt angle on defect formation is studied and simulation predicted defect is compared with the experiments. The developed model accurately predicted the defective as well as defective weld. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | 1. The developed model will help industry to pick the efficient tool geometry that will produce higher weld strength.
                    br
                    | 2. The model developed based on coupled Eulerian Lagrangian method can predict the defective or non-defective weld based on input process parameter.
                    br
                    | 3. This will reduce a lot of experimental requirement to come up with optimized process parameters.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: rahul@iitbhilai.ac.in
                        li
                            a(href='https://www.researchgate.net/profile/Rahul_Jain50') ResearchGate
                        li
                            a(href='https://scholar.google.co.in/citations?user=YwlcmQoAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://in.linkedin.com/in/rahul-jain-432b0417') LinkedIn
                        li
                            a(href= 'https://www.iitbhilai.ac.in/index.php?pid=rahul') Personal Website  
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
