br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src= './img/Students/doctoral/Rankumar.jpg', alt='')
        br
        br
        span
            h4
                 a(data-toggle='modal', data-target='#student11',href='#student11') Dr. Ramkumar Kesharwani
     // Modal
    #studentx.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src= './img/Students/doctoral/Kanchan.jpg', alt='')
        br
        br
        span
            h4
                 a(data-toggle='modal', data-target='#student11',href='#student11') Dr. Kanchan Kumari
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src= './img/Students/doctoral/Rahul.jpg', alt='')
        br
        br
        span
            h4
                 a(data-toggle='modal', data-target='#student11',href='#student11') Dr. Rahul Jain
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
