br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Raju.jpg', alt='')
        br
        br
        span
            h4 Raju Prasad Mahto
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#studentx') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #studentx.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Vyas.jpg', alt='')
        br
        br
        span
            h4 Vyas Mani Sharma
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhisekh.jpg', alt='')
        br
        br
        span
            h4 Abhisekh Sharma
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhijit.jpg', alt='')
        br
        br
        span
            h4 Student Name
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

        br
        br
        br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debasish.jpg', alt='')
        br
        br
        span
            h4 Debasish Mishra
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Omkar.jpg', alt='')
        br
        br
        span
            h4 Omkar Mypati
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Surya.jpg', alt='')
        br
        br
        span
            h4 Suryakanta Sahu
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#student1') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

                
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Iqbal.jpg', alt='')
        br
        br
        span
            h4 Student Name
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/debolina.jpg', alt='')
        br
        br
        span
            h4 Debolina Sen
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/soumya.jpg', alt='')
        br
        br
        span
            h4 Soumya Sangita Nayak
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pooja.jpg', alt='')
        br
        br
        span
            h4 Pooja Sarkar
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pragya.jpg', alt='')
        br
        br
        span
            h4 Pragya Rai
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Ranjan.jpg', alt='')
        br
        br
        span
            h4 Ranjan kumar Viswakarma
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Nurool.jpg', alt='')
        br
        br
        span
            h4 Md. Nurool Hoda
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Anant.jpg', alt='')
        br
        br
        span
            h4 Ananta Dutta
        button.btn.btn-light(type='button', data-toggle='modal', data-target='#exampleModalCenter') Show Profile
        br
        span
            span.fs-std
            a(href='')
                i.fs-std.fas.fa-at(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-linkedin(style='color: black;')
            span.fs-std
            a(href='')
                i.fs-std.fab.fa-facebook(style='color: black;')
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
