br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Raju.jpg', alt='')
        br
        br
        span
            h4 
                a(data-toggle='modal', data-target='#student11',href='#student11') Raju Prasad Mahto
     // Modal
    #studentx.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Vyas.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Vyas Mani Sharma
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhisekh.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Abhisekh Sharma

     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhijit.jpg', alt='')
        br
        br
        span
            h4 
                a(data-toggle='modal', data-target='#asadhu',href='#sasadhu') Abhijit Sadhu
        
     // Modal
    #asadhu.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

        br
        br
        br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debasish.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Debasish Mishra
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Omkar.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Omkar Mypati
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Surya.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Suryakanta Sahu
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

                
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Iqbal.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Student Name
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                              

        br
        br
        br
.row.justify-content-center        
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debolina.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Debolina Sen
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Soumya.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Soumya Sangita Nayak
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pooja.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Pooja Sarkar
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pragya.png', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Pragya Rai
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                               

        br
        br
        br
.row.justify-content-center                             
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Ranjan.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Ranjan kumar Viswakarma
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Nurool.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Md. Nurool Hoda
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Anant.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Ananta Dutta
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
