br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Raju.jpg', alt='')
        br
        span
            h4 
                a(data-toggle='modal', data-target='#Raju',href='#Raju') Raju Prasad Mahto
     // Modal
    #Raju.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Raju Prasad Mahto  img.rounded-circle.profile-img(src='./img/Students/doctoral/Rajusmall.jpg', alt='')
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: a(href='/skpal') Prof Surjya K Pal
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction Stir Lap Welding of AA6061-T6 and AISI304 in Air and Underwater Media: Mechanical Studies and Material Characterizations
                    br
                    br
                    h6 Research Statement
                    | The joining of dissimilar materials such as AA6061-T6 and AISI34 has the potential for tailoring the properties of a structure. However, because of the differences in the mechanical and metallurgical properties of AA6061-T6 and AISI304, there exist several challenges in fabrication. Friction stir welding (FSW) is an advanced solid-state welding technique having the potential to produce a sound weld between aluminum and steel substrates. Microstructure, intermetallic compounds (IMC), crystallographic texture, corrosion, and weld defects are the main factors controlling the mechanical and metallurgical properties of the welds. These factors rely on process parameters and weld media. Scanty literature is available on the effect of process parameters on the FSW of AA6061-T6 and AISI304 in air and water media.
                    br
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Sub-frame of Honda Accord
                    br
                    img(src='./img/profile/Raju.tif', alt='')
                    br
                    | Ref: http://world.honda.com/automobiletechnology/FSW/topic7/20.03.2018
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: rajukec1@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Raju_Mahto') ResearchGate
                        li
                            a(href='https://scholar.google.co.in/citations?user=YmnbCEcAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://www.linkedin.com/in/raju-prasad-96a51051/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Vyas.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#vyas',href='#vyas') Vyas Mani Sharma
     // Modal
    #vyas.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Vyas Mani Sharma
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Dr. Vikranth Racherla and Prof. Surjya K Pal
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of open-celled copper foam using friction sintering
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Metal foams have received considerable attention due to their low density, high strength to weight ratio, large compressive deformations at constant flow stress, high gas permeability, and large surface area. Sintering and dissolution process (SDP), sintering with blowing agents, direct gas blowing, sintering with hollow spheres, reaction sintering, investment casting, etc., can be used to create metal foams. While most methods listed above result in closed-cell foams, SDP results in open-cell foams. While closed-cell foams are used in structural applications, open-cell foams are used in the heat exchanger, sound absorption, catalysis, boiling, and filtration applications. Metal foam can be fabricated on a friction stir welding machine using friction sintering process. 
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Multifunctional heat exchanger (University of Virginia)
                    br
                    img(src='./img/profile/vyas.jpg', alt='')
                    br
                    | Ref: https://www2.virginia.edu/ms/research/wadley/thermal-management.html
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: vyasmani742014@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Vyas_Sharma') ResearchGate
                        li
                            a(href='linkedin.com/in/vyas-sharma-58a702189') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhisekh.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#abhishek',href='#abhishek') Abhishek Sharma

     // Modal
    #abhishek.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Abhishek Sharma
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Dr. Jinu Paul
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Development of friction based solid-state processing strategies for the surface modification of Aluminium alloys
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p 
                    | Solid state friction based strategies has the potential for locally enhancing the properties of various aluminium alloys for demanding applications within the automotive industry. The research aimed to increase the wear resistance of the aluminium alloys through impregnating various carbonaceous reinforcements such as Graphite, Graphene and CNTs through solid state friction stir processing and friction surfacing methodologies. Additionally, the novel powder metallurgy assisted friction surfacing technique is developed which facilitates the impregnation of amorphous materials on the substrate through friction surfacing.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Hardfacing of the knife by FS 
                    img(src='./img/profile/abhisekh.JPG', alt='')
                    br
                    //Ref: 
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: abhi.foundry@iitkgp.ac.in
                        li
                            a(href=' https://www.researchgate.net/profile/Abhishek_Sharma139') ResearchGate
                        li
                            a(href=' https://scholar.google.co.in/citations?hl=en&user=m5M3smgAAAAJ') Google Scholar
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhijit.jpg', alt='')
        br
        span
            h4 
                a(data-toggle='modal', data-target='#asadhu',href='#sasadhu') Abhijit Sadhu
        
     // Modal
    #asadhu.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Abhijit Sadhu
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. A K Nath and Prof. Surjya K Pal
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    br
                    img(src='./img/profile/Capture.JPG', alt='')
                    br
                    | Ref: http://www.iter.org
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: sadhu.abhi4all@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') ResearchGate

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

        br
        br
        br
        br
        br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debasish.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#debasish',href='#debasish') Debasish Mishra
     // Modal
    #debasish.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Debasish Mishra
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Prof. Debashish Chakravarty
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Industry 4.0 based, monitoring and control of friction stir welding process
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Applying digitization techniques to FSW is expected to improve the overall quality of the process. Integrating the machine with several sensors will provide a set of values of physical parameters which could be analyzed to monitor the process in real time and control it as required. 
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: debsmishra02@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Debasish_Mishra4') ResearchGate
                        li
                            a(href=' https://scholar.google.com/citations?user=hqbr-n0AAAAJ&hl=en') Google Scholar
                        li
                            a(href=' https://www.linkedin.com/in/debasish-mishra-070a3845') LinkedIn
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Omkar.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#omkar',href='#omkar') Omkar Mypati
     // Modal
    #omkar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Omkar Mypati
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Prakash Srirangam
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Design and Development of Industry 4.0 Enabled CNC µ-Friction Stir Welding Machine and Feasibility Study of Friction Stir Welding of Thin Sheets of Dissimilar Material
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | With the increasing rate of pollution and globalization, industries are adopting innovative technologies that can be probable solutions towards these concerns. Electric vehicles (EVs) are one such example among these innovations. EVs consist of powerful batteries consisting of micro-thickness tabs and interconnected with busbars. They are intended to obtain a high current source by means of these battery packs. Copper (Cu) and aluminum (Al) are two such metals which are being widely used in this area owing to their high thermal conductivity. The joining of this sheets through conventional fusion welding techniques will not be feasible because of the high amount of temperature involved with these methods. Hence, advanced solid state welding techniques i.e. friction stir welding (FSW) was emerged. Thus, research on µ-friction stir welding (µ-Friction Stir Welding) process was become a necessity to automate and effective utilization of processes fulfilling the objectives of Industry 4.0. 
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Battery cells and packs with electrode tabs for electric vehicles
                    br
                    img(src='./img/profile/Omkar.JPG', alt='')
                    br
                    | Ref: https://link.springer.com/article/10.1007/s40430-018-1542-5
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: omkar.mypati@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Omkar_Mypati') ResearchGate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=vMWcJmQAAAAJ&amp;hl=en') Google Scholar
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Surya.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#surya',href='#surya') Suryakanta Sahu
     // Modal
    #surya.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Suryakanta Sahu
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Prakash Srirangam
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction Stir Welding of Dissimilar Magnesium alloy to Dual Phase Steel for Automobile Applications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Recently, there has been an increasing demand of multi-material components in the automotive sector to manufacture vehicles of lighter weight, enhanced fuel efficiency and better collision safety. In order to achieve these requirements, a proper selection of lightweight materials and appropriate joining methodology for these materials are of major concern in the research community. Presently, magnesium (Mg) alloys are being used in the automotive industries as these materials are lighter in weight compared to their counterparts, and hence can result in increased fuel efficiency. Apart from being light weight and fuel efficient, the vehicles need to sustain high impact energy during the event of a crash without compromising the passenger safety. Hence, instead of conventional steels, various advanced high strength steels (AHSS) like dual phase (DP) steels; the earliest and the prominent examples of AHSS, have been used in the automotive manufacturing as they provide an excellent combination of strength and ductility, and thus can absorb the high impact energy during crash. Friction stir welding (FSW), a solid state welding/joining process which combines friction heat and stirring action can be applied to fabricate defect free joints in between Mg alloy and DP steel.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | FSW can be directly implemented to fabricate the subframe component of automobile by using Mg alloy and DP steel
                    br
                    img(src='./img/profile/surya.JPG', alt='')
                    br
                    | Ref: http://world.honda.com/automobiletechnology/FSW/topic7/20.03.2018
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li 
                            | Email: surya.vssut@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Suryakanta_Sahu') ResearchGate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=cQFQJyMAAAAJ&hl=en') Google Scholar
                        li
                            a(href=' linkedin.com/in/suryakanta-sahu-a44ba65a') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

                
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Iqbal.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#iqbal',href='#iqbal') Md. Perwej Iqbal
     // Modal
    #iqbal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Md. Perwej Iqbal
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Parthasarathi Mandal
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Development of an integrated thermo-mechanical and metallurgical model of friction stir welding of pipes
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Friction stir welding (FSW) has been successfully used to weld materials in various joint configurations such as butt, lap, and T, and recently it is being employed for joining of pipes. Industries like thermal power, hydro power, petroleum refineries, smelting plants, and rolling industries use pipelines for transportation of various fluids. There is an emerging need for establishing proper installation methodology and working of these pipes.  The fabrication of these pipes is mostly being performed by using the fusion welding techniques, however, making use of FSW to fabricate them will not only be cost-effective but also will be environmental friendly. Further, an integrated thermo-mechanical and metallurgical model for FSW of pipes will be useful to predict various thermal properties such as strain, strain rate, temperature of the weld, mechanical properties such as force, torque, and metallurgical properties such as distribution of grain boundary, average grain size etc. In addition to the above, making use of modeling techniques prior to experiments optimizes the process, and increases the amount of process innovation. 
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | FSW can be directly implement to join the aluminum tubular bus-bars for HV substations and pipelines industries
                    br
                    img(src='./img/profile/Iqbal.JPG', alt='')
                    br
                    | Ref: https://www.123rf.com/stockphoto/pipe_welding.html?sti=ljt4ct9kw1yq24im9s|&mediapopup=33311652
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: iqbal.iitkgp@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Md_Iqbal11') ResearchGate
                        li
                            a(href=' https://scholar.google.com/citations?hl=en&user=6BrueOMAAAAJ') Google Scholar
                        li
                            a(href=' https://www.linkedin.com/in/iqbal2912') LinkedIn
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                              

        br
        br
        br
        br
        
.row.justify-content-center        
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debolina.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#debolina',href='#debolina') Debolina Sen
     // Modal
    #debolina.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Debolina Sen
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Sushanta K Panda
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of friction stir welded aluminium tubes and their formability performance
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Tubular components made of aluminium are widely used as structural components in automobile and aerospace industries because of its low cost, higher energy absorption capability and better corrosion resistance. The tubular components can be manufactured by extrusion as well as different welding processes. The extrusion process is very expensive and is limited to fabrication of small diameter tubes. Hence for manufacturing tubes with large diameter to thickness ratio, welding is the possible solution. Fusion welding techniques create a lot of detrimental intermetallics and defects in the joints thus decreasing the quality of the tubes.  Friction stir welding (FSW) process is an advanced welding technique where the welding takes place in its solid state i.e. without melting. Hence the joint formed is near to homogeneous in nature which enhances the joint properties and quality of the tubes. Tubular components which are employed in critical areas, needing good mechanical and metallurgical properties and can withstand failure can be manufactured by FSW. FSW of curved surfaces has got many challenges. Thus the objective of this research is to successfully weld tubular components using FSW process and study the forming properties of the welded tubes.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Wheel rims
                    br
                    img(src='./img/profile/Debolina.JPG', alt='')
                    br
                    | Ref: https://spinoff.nasa.gov/Spinoff2008/ip_4.html
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: debolinasen90@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Debolina_Sen2') ResearchGate
                        li
                            a(href=' https://www.linkedin.com/in/debolina-sen-3b118b45/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Soumya.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#soumya',href='#soumya') Soumya Sangita Nayak
     // Modal
    #soumya.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Soumya Sangita Nayak
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Prakash Srirangam
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Numerical modeling of texture evolution in friction stir welding process technique
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Grain orientation or texture affects all most of all properties of the material. The properties of the material ultimately affect the performance of that material in the final applications. In any kind of application, either casting material (component like turbine blade, gas turbine vanes etc.) or deformed material (either deep drawn/extruded/forged) or joined material (weld joint etc.) or any material which undergoes some kind of heat treatment processes (hardening, annealing etc.). In each case, texture is different. The aim in every case is to get the desired texture to fulfil the performance of that material. Here the research objective is to see the texture evolution in friction stir welding (FSW) process which is a solid state joining technique and now a day this process is used widely due to its huge advantages upon fusion welding process. Heat and deformation are the two major factors to produce the weld joint in this process which is produced by the FSW tool. Due to these two factors, alteration in crystallographic texture occurs in the material. Numerical modeling will better give an avenue to understand the FSW process and see the texture evolution in FSW as experimental investigation to see the texture evolution with electron back scatter diffraction in the whole sample is difficult and costly. Once the model will be built, it will be easier to see the control of the texture evolution by varying the FSW process parameters (tool welding speed, tool rotational speed, plunge depth, tool tilt angle) to get the desired properties (e.g. weld strength, corrosion resistance etc.)
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Aerospace Industry
                    br
                    img(src='./img/profile/soumya.JPG', alt='')
                    br
                    | Ref: https://www.appropedia.org/Compositesin_the_Aircraft_Industry)
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: soumyasangitanayak.nayak@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Soumya_Sangita_Nayak') ResearchGate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=a6ow_HQAAAAJ&hl=en') Google Scholar
                        li
                            a(href=' https://in.linkedin.com/in/soumya-sangita-nayak-7b371130') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pooja.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#pooja',href='#pooja') Pooja Sarkar
     // Modal
    #pooja.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Pooja Sarkar
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Prof. Barbara Shollock
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Implementation of Friction Stir Channeling (FSC) as a successful manufacturing process to fabricate cooling channels and to do their thermal analysis to elevate the heat transfer rate for the use in HEV/EV battery pack cooling.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | With the advancement of battery efficiency that can give more power, cooling of battery pack for EVs is becoming a challenge that has to be addressed by the heat exchanger manufacturer. Friction Stir Channeling (FSC), enables us to create a continuous integral channel inside a monolithic plate in a single pass. The aim of the present work is to create cooling channels of different profiles (linear, serpentine, helical or as required by the product to be cooled) by FSC and also to control the shape and size of the channel. This work also includes the hydraulic and thermal analysis of the channels produced for optimum heat transfer.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | FSC cool plates in cooling Lithium ion battery pack
                    br
                    img(src='./img/profile/pooja.JPG', alt='')
                    | Ref: www.lianinno.com
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: sarkarpooja90@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Pooja_Sarkar4') ResearchGate
                        li
                            a(href='https://www.linkedin.com/in/pooja-sarkar-6944b1176/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pragya.png', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#pragya',href='#pragya') Pragya Rai
     // Modal
    #pragya.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Pragya Rai
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Dr. Jinu Paul and Dr. Sushanta K Panda
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction Stir Spot Welding of Thin Sheets using Different Carbon Nanomaterials as Interlayer
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Aluminum alloys had been used in automotive parts manufacturing for its good mechanical properties such as high strength to weight ratio, resistance to corrosion, and good formability. However, the main problem associated with aluminum was its poor weldability as compared to the conventional fusion welding strategies. Friction stir spot welding (FSSW) derived from conventional FSW for the spot welding of aluminum alloys. FSSW produced spot weld in the workpiece when rotating tool plunges into it causing plastic deformation and generates frictional heat which softens the material to be welded. Different carbon nanomaterials like graphene, carbon nanotubes, graphite, etc are expected to be good reinforcement for aluminium alloys. Though, graphite and graphene have proved to be good reinforcement for aluminium matrix composites. But the aim of this research is to use the carbon nanomaterials as an interlayer to improve the mechanical properties.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | The roof panel made by FSSW for next- generation Shinkansen (Bullet train in Japan) prototype
                    br
                    img(src='./img/profile/pragya.JPG', alt='')
                    br
                    | Ref: T.-Y. Pan, “Friction Stir Spot Welding (FSSW) - A Literature Review,” SAE Tech. Pap. Ser., vol. 1, no. 724, 2010
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: raipragya66@gmail.com
                        li
                            //a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                               

        br
        br
        br
        br
        
.row.justify-content-center                             
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Ranjan.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#ranjan',href='#ranjan') Ranjan kumar Viswakarma
     // Modal
    #ranjan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Ranjan kumar Viswakarma
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Nilanjan Das Chakladar
                    br
                    h6 Doctoral Research Problem
                    p
                    | A Novel Method of applications of solid-state technology based on friction-stir processing (FSP) principles for metal matrix composites (MMCs)
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Materials with high specific strength and stiffness have demanded for various applications such as aviation, aerospace, defense, automotive etc. that mostly use on light weighting, better fuel efficiency, and higher pay load. Composite materials have received wide acceptance owing to their greater potential for use as components/products with high specific strength, stiffness, enhanced wear resistance, and better high temperature properties compared to monolithic metals and alloys. Friction stir processing (FSP) has emerged as an effective tool for grain refinement and microstructure modification. It has now been also demonstrated that FSP is an attractive method to process composites. A wide range of reinforcements that include ceramic and metallic particles, carbon nanostructures have been incorporated in metallic matrices by FSP. This process has proved its potential in fabricating both bulk and surface composites. Nanocomposites and hybrid composites have been also fabricated by FSP. A major concern in fabricating the metallic matrix composites (MMCs) has been the inhomogeneity of particle distribution. A number of tool designs have emerged in order to distribute the particles uniformly. It has also been demonstrated how the process parameters affect the microstructure and properties of the processed composites. FSP has been also found useful in homogenizing the microstructure of as-cast and other MMCs that suffer from microstructural inhomogeneity such as particle clustering.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    br
                    img(src='./img/profile/ranjan.JPG', alt='')
                    | Ref: https://images.app.goo.gl/L7ZNtafKB7dQNEaH6
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ranjan5790@gmail.com
                        li
                            a(href=' https://www.linkedin.com/in/ranjan-vishwakarma-45383a4b/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Nurool.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#Nurool',href='#Nurool') Md. Noorul Hoda
     // Modal
    #Nurool.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Md. Noorul Hoda
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Jinu Paul
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Docttoral Research Problem
                    p
                    | A Novel Method of Manufacturing of Cost Effective Graphene-Aluminum Metal Matrix Composite (Direct Exfoliation of Graphite into Graphene by Friction Stir Processing)
                    //h6 Research Statement
                    //p
                        | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Aluminum-graphene composite for Engine Block Cylinder Liner
                    br
                    img(src='./img/profile/Noorul.JPG', alt='')
                    br
                    | Ref: www.enginebuildermag.com/2015/09/liners-and-sleeves/11932946497.htm
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: hoda.mdnoorul@gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Md_Hoda3') ResearchGate
                        li
                            a(href=' https://in.linkedin.com/in/md-noorul-hoda-80612924') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Anant.jpg', alt='')
        br
        span
            h4
                a(data-toggle='modal', data-target='#ananta',href='#ananta') Ananta Dutta
     // Modal
    #ananta.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Ananta Dutta
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6(style='color: #009999; font-family:Georgia, serif') Supervisor: Prof. Surjya K Pal and Dr. Sushanta K Panda
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Damage repairing and joining of turbine rear structure by using Friction Stir Welding and development of stationary shoulder FSW tool for any arbitrary joint shape
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Turbine blades are the most important components of gas turbine and are subjected to elevated temperature, high stress and extreme vibration environment. Therefore, creep, fatigue, stress corrosion cracking (SCC) and erosion-corrosion are some leading mechanisms behind the failure of turbine blades. It is reported that around 42% breakdowns of gas turbine are due to failure of blades and thus considered as a limiting part of gas turbine. The blade-ring attachment area is the most common zone of failure. Until a few years ago, the majority of the repairing were performed using Tungsten Inert Gas (TIG) welding and brazing. In recent times, laser welding, plasma welding and laser direct metal deposition techniques have been employed for repairing of turbine blades. These blades are generally made of Ni- base superalloys. Hence using fusion welding processes lead to elemental segregation, formation of undesirable phases and liquation cracks in the heat-affected zone due to higher heat input and consequently weakening of the joint. Therefore, being a solid-state welding process Friction Stir Welding (FSW) is expected to be a better technique for repairing and joining of turbine rear structure. Henceforth, this research work is focused on the successful joining of turbine blades with the rotor ring using FSW and study of metallurgical and mechanical properties of the joint. In addition to that, development of FSW tool for joining of workpieces having any arbitrary shapes is another focal point of this work
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Jet engine propulsion                      
                    br
                    img(src='./img/profile/Ananta.JPG', alt='')
                    br
                    | Ref: https://www.seals.saint-gobain.com/markets/aerospace/gas-turbine-engines/jet-engine-turbofan
                    br
                    h6(style='color: #009999; font-family:Georgia, serif')
                        a(href='http://www.fswlab.in/pub') Publications
                    br
                    h6(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ad26@iitbbs.ac.in
                        li
                            a(href=' https://www.researchgate.net/profile/Ananta_Dutta') ResearchGate
                        li
                            a(href=' https://www.linkedin.com/in/ananta-dutta-49674087/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
