br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Raju.jpg', alt='')
        br
        br
        span
            h4 
                a(data-toggle='modal', data-target='#Raju',href='#Raju') Raju Prasad Mahto
     // Modal
    #Raju.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Raju Prasad Mahto
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Supervisor: 
                    p
                    | Prof Surjya K Pal
                    h6 Doctoral Research Problem
                    p
                    | Friction Stir Lap Welding of AA6061-T6 and AISI304 in Air and Underwater Media: Mechanical Studies and Material Characterizations
                    h6 Research Statement
                    | The joining of dissimilar materials such as AA6061-T6 and AISI34 has the potential for tailoring the properties of a structure. However, because of the differences in the mechanical and metallurgical properties of AA6061-T6 and AISI304, there exist several challenges in fabrication. Friction stir welding (FSW) is an advanced solid-state welding technique having the potential to produce a sound weld between aluminum and steel substrates. Microstructure, intermetallic compounds (IMC), crystallographic texture, corrosion, and weld defects are the main factors controlling the mechanical and metallurgical properties of the welds. These factors rely on process parameters and weld media. Scanty literature is available on the effect of process parameters on the FSW of AA6061-T6 and AISI304 in air and water media.
                    h6 Indusrial Application
                    p
                    | Sub-frame of Honda Accord
                    img(src='./img/profile/Raju.tif', alt='')
                    br
                    |Ref: http://world.honda.com/automobiletechnology/FSW/topic7/20.03.2018
                    h6
                        a(href='http://www.fswlab.in/pub') Publications
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Raju_Mahto') Research gate
                        li
                            a(href='https://scholar.google.co.in/citations?user=YmnbCEcAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://www.linkedin.com/in/raju-prasad-96a51051/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Vyas.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#vyas',href='#vyas') Vyas Mani Sharma
     // Modal
    #vyas.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Supervisor: 
                    p
                    | Dr. Vikranth Racherla and Prof. Surjya K Pal
                    h6 Docttoral Research Problem
                    p
                    | Fabrication of open-celled copper foam using friction sintering
                    h6 Research Statement
                    p
                    | Metal foams have received considerable attention due to their low density, high strength to weight ratio, large compressive deformations at constant flow stress, high gas permeability, and large surface area. Sintering and dissolution process (SDP), sintering with blowing agents, direct gas blowing, sintering with hollow spheres, reaction sintering, investment casting, etc., can be used to create metal foams. While most methods listed above result in closed-cell foams, SDP results in open-cell foams. While closed-cell foams are used in structural applications, open-cell foams are used in the heat exchanger, sound absorption, catalysis, boiling, and filtration applications. Metal foam can be fabricated on a friction stir welding machine using friction sintering process. 
                    h6 Industrial Application
                    p
                    | Multifunctional heat exchanger (University of Virginia)
                    img(src='./img/profile/vyas.jpg', alt='')
                    br
                    |Ref: https://www2.virginia.edu/ms/research/wadley/thermal-management.html
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Vyas_Sharma') Research gate
                        li
                            a(href='linkedin.com/in/vyas-sharma-58a702189') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhisekh.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Abhisekh Sharma

     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhijit.jpg', alt='')
        br
        br
        span
            h4 
                a(data-toggle='modal', data-target='#asadhu',href='#sasadhu') Abhijit Sadhu
        
     // Modal
    #asadhu.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    br
                    |Ref: http://www.iter.org
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

        br
        br
        br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debasish.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#debasish',href='#debasish') Debasish Mishra
        //  Modal
    #debasish.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Debasish Mishra
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Industry 4.0 based, monitoring and control of friction stir welding process
                    h6 Research Statement
                    p
                    | Applying digitization techniques to FSW is expected to improve the overall quality of the process. Integrating the machine with several sensors will provide a set of values of physical parameters which could be analyzed to monitor the process in real time and control it as required. 
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Debasish_Mishra4') Research gate
                        li
                            a(href=' https://scholar.google.com/citations?user=hqbr-n0AAAAJ&hl=en') Google Scholar
                        li
                            a(href=' https://www.linkedin.com/in/debasish-mishra-070a3845') LinkedIn
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Omkar.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#omkar',href='#omkar') Omkar Mypati
     // Modal
    #omkar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Omkar Mypati
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Design and Development of Industry 4.0 Enabled CNC µ-Friction Stir Welding Machine and Feasibility Study of Friction Stir Welding of Thin Sheets of Dissimilar Material
                    h6 Research Statement
                    p
                    | With the increasing rate of pollution and globalization, industries are adopting innovative technologies that can be probable solutions towards these concerns. Electric vehicles (EVs) are one such example among these innovations. EVs consist of powerful batteries consisting of micro-thickness tabs and interconnected with busbars. They are intended to obtain a high current source by means of these battery packs. Copper (Cu) and aluminum (Al) are two such metals which are being widely used in this area owing to their high thermal conductivity. The joining of this sheets through conventional fusion welding techniques will not be feasible because of the high amount of temperature involved with these methods. Hence, advanced solid state welding techniques i.e. friction stir welding (FSW) was emerged. Thus, research on µ-friction stir welding (µ-Friction Stir Welding) process was become a necessity to automate and effective utilization of processes fulfilling the objectives of Industry 4.0. 
                    h6 Industrial Application
                    p
                    | Battery cells and packs with electrode tabs for electric vehicles
                    img(src='./img/profile/Omkar.JPG', alt='')
                    br
                    |Ref: https://link.springer.com/article/10.1007/s40430-018-1542-5
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Omkar_Mypati') Research gate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=vMWcJmQAAAAJ&amp;hl=en') Google Scholar
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Surya.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#surya',href='#surya') Suryakanta Sahu
     // Modal
    #surya.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Suryakanta Sahu
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Friction Stir Welding of Dissimilar Magnesium alloy to Dual Phase Steel for Automobile Applications
                    h6 Research Statement
                    p
                    | Recently, there has been an increasing demand of multi-material components in the automotive sector to manufacture vehicles of lighter weight, enhanced fuel efficiency and better collision safety. In order to achieve these requirements, a proper selection of lightweight materials and appropriate joining methodology for these materials are of major concern in the research community. Presently, magnesium (Mg) alloys are being used in the automotive industries as these materials are lighter in weight compared to their counterparts, and hence can result in increased fuel efficiency. Apart from being light weight and fuel efficient, the vehicles need to sustain high impact energy during the event of a crash without compromising the passenger safety. Hence, instead of conventional steels, various advanced high strength steels (AHSS) like dual phase (DP) steels; the earliest and the prominent examples of AHSS, have been used in the automotive manufacturing as they provide an excellent combination of strength and ductility, and thus can absorb the high impact energy during crash. Friction stir welding (FSW), a solid state welding/joining process which combines friction heat and stirring action can be applied to fabricate defect free joints in between Mg alloy and DP steel.
                    h6 Industrial Application
                    p
                    | FSW can be directly implemented to fabricate the subframe component of automobile by using Mg alloy and DP steel
                    img(src='./img/profile/surya.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Suryakanta_Sahu') Research gate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=cQFQJyMAAAAJ&hl=en') Google Scholar
                        li
                            a(href=' linkedin.com/in/suryakanta-sahu-a44ba65a') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                   

                
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Iqbal.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Student Name
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                              

        br
        br
        br
.row.justify-content-center        
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debolina.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Debolina Sen
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Soumya.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Soumya Sangita Nayak
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pooja.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Pooja Sarkar
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pragya.png', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Pragya Rai
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                               

        br
        br
        br
.row.justify-content-center                             
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Ranjan.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Ranjan kumar Viswakarma
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Nurool.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Md. Nurool Hoda
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    
                    
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Anant.jpg', alt='')
        br
        br
        span
            h4
                a(data-toggle='modal', data-target='#student11',href='#student11') Ananta Dutta
     // Modal
    #student1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalCenterTitle.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    h6 Docttoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    h6 Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    h6 Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    img(src='./img/profile/Capture.JPG', alt='')
                    h6 Quick Links
                    ul
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research gate
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
